* {
    box-sizing: border-box;
}

#nav-text {
    color: white;
}

#youtube-menue {
    /* line-height: 1; */
    border: 1px solid rgb(2, 0, 0);
    border-radius: .20rem;
    font-size: 2em;
    transition: box-shadow .15s ease-in-out;
}

#icon {
    padding: 0px;
    font-size: 20px;
}

.cursor {
    cursor: pointer;
}

#card-img {
    width: 70%;
}

#card-bg {
    background-color: rgb(230, 230, 233);
    padding: 1px !important;
}

#border-radius {
    background-color: gainsboro !important;
    display: flex;
    margin-right: 1%;
    border-radius: 1em;
    padding: 1%;
}

@media (max-width:720px) {
    #responsiveness {
        display: none;
    }
}

@media (max-width:992px) {
    #responsiveness {
        display: none;
    }
    #nav-icon {
        display: flex;
    }
}